@use "../lib/font-awesome/variables" as font-awesome-variables;
@use "../lib/font-awesome/mixins" as font-awesome-mixins;
@use "../variables";

/*
/* Calendar
/* -------------------------------------------------- */


table.cal {
  width: 100%;
  margin-bottom: variables.$line-height-computed;
  border: 1px solid variables.$table-border-color;

  thead th {
    width: 14%;
    padding: variables.$table-condensed-cell-padding;
    background-color: variables.$table-bg-active;

    &.week-number {
      width: auto;
    }
  }

  tbody tr {
    height: 100px;
  }

  td {
    padding: variables.$table-condensed-cell-padding;
    border: 1px solid variables.$table-border-color;
    font-size: variables.$font-size-small;
    vertical-align: top;

    &.week-number {
      border: 0 none;
      background-color: variables.$table-bg-active;
      font-size: 1em;
      text-align: right;
    }

    p.day-num {
      float: right;
      font-size: variables.$font-size-large;
      text-align: right;
    }

    &.odd p.day-num {
      color: variables.$gray-600;
    }

    &.nwday {
      background: variables.$table-bg-accent;
    }

    &.today {
      background: variables.$highlight-bg;

      p.day-num {
        font-weight: variables.$font-weight-bold;
      }
    }
  }
}

table.cal .starting a,
p.cal.legend .starting,
table.cal .ending a,
p.cal.legend .ending {
  &::before {
    @include font-awesome-mixins.fa-icon;

    content: font-awesome-variables.$fa-var-caret-right;
    width: 10px;
    text-align: right;
  }
}

table.cal .ending a,
p.cal.legend .ending {
  &::before {
    content: font-awesome-variables.$fa-var-caret-left;
    text-align: left;
  }
}

table.cal .starting.ending a,
p.cal.legend .starting.ending {
  &::before {
    content: font-awesome-variables.$fa-var-square;
    transform: scale(.6) rotate(45deg);
    text-align: center;
  }
}

p.cal.legend {
  span {
    display: block;
  }
}
