@use "sass:color";
@use "../variables";
@use "../vendor/font-awesome/variables" as fa-variables;
@use "../mixins/shadows";
@use "../mixins/variants";
@use "../components/icons";

#wrapper {
  .context-menu-selection {
    &,
    > td {
      background-color: variables.$brand-primary !important; // stylelint-disable-line declaration-no-important
      color: variables.$brand-text !important; // stylelint-disable-line declaration-no-important
    }
  }

  #context-menu {
    > ul,
    > ul > li > ul {
      @include shadows.nice-shadow(2);

      border: 0 none !important; // stylelint-disable-line declaration-no-important
    }

    ul {
      padding: 3px;
    }

    li {
      padding: 0;
      border: 0 none;
      border-radius: variables.$border-radius-small;
      background: transparent;

      &:hover {
        background-color: variables.$pagination-hover-bg;
      }
    }

    a:not(.easy-mindmup__icon) {
      padding: 3px 10px;
      border-radius: variables.$border-radius-small;

      &::before {
        @extend %fa-icon;
      }

      &:hover {
        border-color: variables.$pagination-hover-border;
        background-color: variables.$pagination-hover-bg;
      }

      &.disabled {
        color: color.adjust(variables.$pagination-color, $alpha: .5);
      }

      &.icon-checked {
        background: transparent;
      }

      &.submenu {
        position: relative;
        background-image: none;

        &::after {
          @extend %fa-icon-after;
          @include variants.fa-custom-icon(fa-variables.$fa-var-chevron-right);

          position: absolute;
          right: 5px;
        }
      }
    }
  }
}
