@use "sass:list";
@use "sass:string";
@use "../lib/font-awesome/variables" as font-awesome-variables;
@use "../lib/font-awesome/mixins" as font-awesome-mixins;
@use "../variables";
@use "../mixins/link-variant";

.#{font-awesome-variables.$fa-css-prefix} {
  font-family: font-awesome-variables.$fa-style-family;
  font-weight: font-awesome-variables.$fa-style;
}

.#{font-awesome-variables.$fa-css-prefix},
.#{font-awesome-variables.$fa-css-prefix}-classic,
.#{font-awesome-variables.$fa-css-prefix}-sharp,
.fas,
.#{font-awesome-variables.$fa-css-prefix}-solid,
.far,
.#{font-awesome-variables.$fa-css-prefix}-regular,
.fab,
.#{font-awesome-variables.$fa-css-prefix}-brands {
  display: font-awesome-variables.$fa-display;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}

.fas,
.#{font-awesome-variables.$fa-css-prefix}-classic,
.#{font-awesome-variables.$fa-css-prefix}-solid,
.far,
.#{font-awesome-variables.$fa-css-prefix}-regular {
  font-family: 'Font Awesome 6 Free';
}

.fab,
.#{font-awesome-variables.$fa-css-prefix}-brands {
  font-family: 'Font Awesome 6 Brands';
}

%fa-icon {
  &::before {
    @include font-awesome-mixins.fa-icon;

    margin-right: .6em;
  }
}

%fa-icon-after {
  &::after {
    @include font-awesome-mixins.fa-icon;

    margin-left: .6em;
  }
}

$icon-map: (
  icon-add:                     font-awesome-variables.$fa-var-plus-square,
  icon-edit:                    font-awesome-variables.$fa-var-pencil,
  icon-copy:                    font-awesome-variables.$fa-var-copy,
  icon-duplicate:               font-awesome-variables.$fa-var-clipboard,
  icon-del:                     font-awesome-variables.$fa-var-trash,
  icon-move:                    font-awesome-variables.$fa-var-arrows,
  icon-save:                    font-awesome-variables.$fa-var-save,
  icon-download:                font-awesome-variables.$fa-var-download,
  icon-cancel:                  font-awesome-variables.$fa-var-ban,
  icon-multiple:                font-awesome-variables.$fa-var-plus-circle,
  icon-folder:                  font-awesome-variables.$fa-var-folder,
  icon-package:                 font-awesome-variables.$fa-var-cube,
  icon-user:                    font-awesome-variables.$fa-var-user,
  icon-project:                 font-awesome-variables.$fa-var-cube,
  icon-projects:                font-awesome-variables.$fa-var-cubes,
  icon-help:                    font-awesome-variables.$fa-var-info-circle,
  icon-attachment:              font-awesome-variables.$fa-var-paperclip,
  icon-history:                 font-awesome-variables.$fa-var-history,
  icon-time-entry:              font-awesome-variables.$fa-var-clock,
  icon-time:                    font-awesome-variables.$fa-var-clock,
  icon-time-add:                font-awesome-variables.$fa-var-clock,
  icon-stats:                   font-awesome-variables.$fa-var-line-chart,
  icon-warning:                 font-awesome-variables.$fa-var-warning,
  icon-error:                   font-awesome-variables.$fa-var-exclamation,
  icon-fav:                     font-awesome-variables.$fa-var-star,
  icon-fav-off:                 font-awesome-variables.$fa-var-star,
  icon-heart:                   font-awesome-variables.$fa-var-heart,
  icon-heart-off:               font-awesome-variables.$fa-var-heart,
  icon-reload:                  font-awesome-variables.$fa-var-refresh,
  icon-locked:                  font-awesome-variables.$fa-var-lock,
  icon-lock:                    font-awesome-variables.$fa-var-lock,
  icon-unlock:                  font-awesome-variables.$fa-var-unlock,
  icon-checked:                 font-awesome-variables.$fa-var-check,
  icon-details:                 font-awesome-variables.$fa-var-search-plus,
  icon-report:                  font-awesome-variables.$fa-var-pie-chart,
  icon-comments:                font-awesome-variables.$fa-var-comment,
  icon-comment:                 font-awesome-variables.$fa-var-comment,
  icon-summary:                 font-awesome-variables.$fa-var-file-text,
  icon-server-authentication:   font-awesome-variables.$fa-var-key,
  icon-issue:                   font-awesome-variables.$fa-var-ticket,
  icon-zoom-in:                 font-awesome-variables.$fa-var-search-plus,
  icon-zoom-out:                font-awesome-variables.$fa-var-search-minus,
  icon-magnifier:               font-awesome-variables.$fa-var-search,
  icon-passwd:                  font-awesome-variables.$fa-var-key,
  icon-arrow-right:             font-awesome-variables.$fa-var-arrow-right,
  icon-test:                    font-awesome-variables.$fa-var-arrow-circle-right,
  icon-sticky:                  font-awesome-variables.$fa-var-thumb-tack,
  icon-email:                   font-awesome-variables.$fa-var-envelope,
  icon-email-disabled:          font-awesome-variables.$fa-var-envelope,
  icon-email-add:               font-awesome-variables.$fa-var-envelope,
  icon-ok:                      font-awesome-variables.$fa-var-check,
  icon-not-ok:                  font-awesome-variables.$fa-var-times,
  icon-link-break:              font-awesome-variables.$fa-var-chain-broken,
  icon-list:                    font-awesome-variables.$fa-var-list-ul,
  icon-close:                   font-awesome-variables.$fa-var-times-circle,
  icon-settings:                font-awesome-variables.$fa-var-cog,
  icon-group:                   font-awesome-variables.$fa-var-users,
  icon-groupnonmember:          font-awesome-variables.$fa-var-users,
  icon-groupanonymous:          font-awesome-variables.$fa-var-users,
  icon-roles:                   font-awesome-variables.$fa-var-eye,
  icon-issue-edit:              font-awesome-variables.$fa-var-edit,
  icon-workflows:               font-awesome-variables.$fa-var-sitemap,
  icon-custom-fields:           font-awesome-variables.$fa-var-edit,
  icon-plugins:                 font-awesome-variables.$fa-var-puzzle-piece,
  icon-news:                    font-awesome-variables.$fa-var-newspaper,
  icon-issue-closed:            font-awesome-variables.$fa-var-ticket,
  icon-issue-note:              font-awesome-variables.$fa-var-comment,
  icon-changeset:               font-awesome-variables.$fa-var-upload,
  icon-message:                 font-awesome-variables.$fa-var-comment,
  icon-reply:                   font-awesome-variables.$fa-var-comment,
  icon-wiki-page:               font-awesome-variables.$fa-var-file-text,
  icon-document:                font-awesome-variables.$fa-var-file-text,
  icon-add-bullet:              font-awesome-variables.$fa-var-plus-circle,
  icon-shared:                  font-awesome-variables.$fa-var-link,
  icon-actions:                 font-awesome-variables.$fa-var-ellipsis-h,
  icon-sort-handle:             font-awesome-variables.$fa-var-arrows-v,
  icon-expended:                font-awesome-variables.$fa-var-chevron-down,
  icon-collapsed:               font-awesome-variables.$fa-var-chevron-right,
  icon-bookmark:                font-awesome-variables.$fa-var-bookmark,
  icon-bookmark-off:            font-awesome-variables.$fa-var-bookmark,
  icon-sorted-asc:              font-awesome-variables.$fa-var-sort-amount-asc,
  icon-sorted-desc:             font-awesome-variables.$fa-var-sort-amount-desc,
  icon-toggle-plus:             font-awesome-variables.$fa-var-plus-square,
  icon-toggle-minus:            font-awesome-variables.$fa-var-minus-square,
  icon-clear-query:             font-awesome-variables.$fa-var-times,
  icon-import:                  font-awesome-variables.$fa-var-cloud-upload,
  icon-bookmarked-project:      font-awesome-variables.$fa-var-tag,
  icon-copy-link:               font-awesome-variables.$fa-var-clipboard,

  /* Plugin icons */
  icon-call:                    font-awesome-variables.$fa-var-phone,
  icon-contact:                 font-awesome-variables.$fa-var-vcard,
  icon-erase:                   font-awesome-variables.$fa-var-eraser,
  icon-facebook:                font-awesome-variables.$fa-var-facebook-square,
  icon-fullscreen:              font-awesome-variables.$fa-var-arrows-alt,
  icon-linkedin:                font-awesome-variables.$fa-var-linkedin,
  icon-meeting:                 font-awesome-variables.$fa-var-calendar-check,
  icon-merge:                   font-awesome-variables.$fa-var-code-fork,
  icon-money-dollar:            font-awesome-variables.$fa-var-usd,
  icon-money-euro:              font-awesome-variables.$fa-var-eur,
  icon-money-pound:             font-awesome-variables.$fa-var-gbp,
  icon-money-yen:               font-awesome-variables.$fa-var-jpy,
  icon-move-bottom:             font-awesome-variables.$fa-var-angle-double-down,
  icon-move-down:               font-awesome-variables.$fa-var-angle-down,
  icon-move-top:                font-awesome-variables.$fa-var-angle-double-up,
  icon-move-up:                 font-awesome-variables.$fa-var-angle-up,
  icon-phone:                   font-awesome-variables.$fa-var-phone,
  icon-skype:                   font-awesome-variables.$fa-var-skype,
  icon-tags:                    font-awesome-variables.$fa-var-tags,
  icon-twitter:                 font-awesome-variables.$fa-var-twitter-square,
  icon-vcard:                   font-awesome-variables.$fa-var-vcard,
  banner-icon-edit:             font-awesome-variables.$fa-var-edit,
  banner-icon-off:              font-awesome-variables.$fa-var-times,
);

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}


/* Buttons icons */

.icon,
.icon-only:not(.toggle-multiselect) {
  @extend %fa-icon;
}

.icon-only {
  display: inline-block;
  width: variables.$icon-width;
  overflow: hidden;
  vertical-align: top;
  white-space: nowrap;

  &::before {
    width: variables.$icon-width;
    text-align: center;
  }
}

/* A empty icon should behave more like icon-only */
a.icon:empty {
  display: inline-block;
}

span.icon + span.icon {
  margin-left: variables.$padding-small-vertical;
}

$icons-selector: ();

@each $class, $icon in $icon-map {
  $icons-selector: list.append($icons-selector, string.unquote(".#{$class}"), "comma");

  .#{$class} {
    &::before {
      content: "#{$icon}";

      @if $class == "icon-fav" {
        color: variables.$orange;
      } @else if $class == "icon-heart" {
        color: variables.$pink;
      } @else if $class == "icon-bookmarked-project" {
        color: variables.$blue;
      }
    }

    @if $class == "icon-close" {
      &:hover::before {
        content: "#{font-awesome-variables.$fa-var-times-circle}";
      }
    } @else if $class == "icon-folder" {
      .open &::before {
        content: "#{font-awesome-variables.$fa-var-folder-open}";
      }
    }
  }
}

#{$icons-selector} {
  &.icon {
    background-image: none;
  }
}

/* Checkbox toggler */

a.toggle-checkboxes {
  @extend %fa-icon;

  &::before {
    content: "#{font-awesome-variables.$fa-var-square-check}";
  }
}


/* Colorize some actions */

a.icon,
a.icon-only {
  @include link-variant.link-variant(default);
}

.icon-checked {
  @include link-variant.link-variant(success, false);
}

a.icon-add,
a.icon-save,
a.icon-checked {
  @include link-variant.link-variant(success);
}

a.icon-del {
  @include link-variant.link-variant(danger);
}


/* File types */

.icon-folder,
.icon-file {
  &::before {
    width: variables.$icon-width;
    text-align: center;
  }
}

.icon-file {
  &::before {
    content: "#{font-awesome-variables.$fa-var-file}";
    color: variables.$gray-700;
  }

  &.text-plain::before         { content: "#{font-awesome-variables.$fa-var-file-text}"; }
  &.text-x-c::before           { content: "#{font-awesome-variables.$fa-var-file-code}"; }
  &.text-x-csharp::before      { content: "#{font-awesome-variables.$fa-var-file-code}"; }
  &.text-x-java::before        { content: "#{font-awesome-variables.$fa-var-file-code}"; }
  &.text-x-php::before         { content: "#{font-awesome-variables.$fa-var-file-code}"; }
  &.text-x-ruby::before        { content: "#{font-awesome-variables.$fa-var-file-code}"; }
  &.text-xml::before           { content: "#{font-awesome-variables.$fa-var-file-code}"; }
  &.text-css::before           { content: "#{font-awesome-variables.$fa-var-file-code}"; }
  &.text-html::before          { content: "#{font-awesome-variables.$fa-var-file-code}"; }
  &.text-x-sh::before          { content: "#{font-awesome-variables.$fa-var-file-text}"; }

  &.application-javascript::before,
  &.text-x-javascript::before { content: "#{font-awesome-variables.$fa-var-file-code}"; }

  &.application-pdf::before    { content: "#{font-awesome-variables.$fa-var-file-pdf}"; }
  &.application-msword::before { content: "#{font-awesome-variables.$fa-var-file-word}"; }

  &.application-vnd\.openxmlformats-officedocument\.spreadsheetml\.sheet::before,
  &.application-vnd\.ms-excel::before { content: "#{font-awesome-variables.$fa-var-file-excel}"; }

  &.image-vnd\.microsoft\.icon::before,
  &.image-gif::before,
  &.image-jpeg::before,
  &.image-png::before,
  &.image-tiff::before {
    content: "#{font-awesome-variables.$fa-var-file-image}";
  }

  &.application-zip::before,
  &.application-x-gzip::before {
    content: "#{font-awesome-variables.$fa-var-file-zipper}";
  }
}

.icon-expended,
.icon-collapsed {
  &::before {
    text-align: center;
  }

  &.expander {
    background-image: none;
  }
}

.icon-zoom-in + .icon-zoom-out {
  margin-left: variables.$padding-small-vertical;
}


/* Administration menu sections */

%admin-icon {
  @extend %fa-icon;

  &:hover::before {
    color: variables.$gray-900;
  }

  &.selected::before {
    color: variables.$gray-950;
  }
}

#admin-menu {
  #admin-index > & {
    a {
      padding-left: 5px + variables.$icon-width;
    }
  }

  li {
    > a {
      padding-left: variables.$sidebar-padding-horizontal + 5px + variables.$icon-width;

      &::before {
        display: inline-block;
        width: variables.$icon-width;
        margin: 0;
        margin-left: -(5px + variables.$icon-width);
        padding: 0;
        color: variables.$gray-700;
        text-align: center;
      }
    }
  }

  .projects {
    @extend %admin-icon;

    &::before { content: "#{font-awesome-variables.$fa-var-cubes}"; }
  }

  .users {
    @extend %admin-icon;

    &::before { content: "#{font-awesome-variables.$fa-var-user}"; }
  }

  .groups {
    @extend %admin-icon;

    &::before { content: "#{font-awesome-variables.$fa-var-people-group}"; }
  }

  .roles {
    @extend %admin-icon;

    &::before { content: "#{font-awesome-variables.$fa-var-eye}"; }
  }

  .trackers {
    @extend %admin-icon;

    &::before { content: "#{font-awesome-variables.$fa-var-ticket}"; }
  }

  .issue-statuses,
  .issue_statuses {
    @extend %admin-icon;

    &::before { content: "#{font-awesome-variables.$fa-var-pencil-square}"; }
  }

  .workflows {
    @extend %admin-icon;

    &::before { content: "#{font-awesome-variables.$fa-var-sitemap}"; }
  }

  .custom-fields,
  .custom_fields {
    @extend %admin-icon;

    &::before { content: "#{font-awesome-variables.$fa-var-edit}"; }
  }

  .enumerations {
    @extend %admin-icon;

    &::before { content: "#{font-awesome-variables.$fa-var-list}"; }
  }

  .settings {
    @extend %admin-icon;

    &::before { content: "#{font-awesome-variables.$fa-var-gear}"; }
  }

  .plugins {
    @extend %admin-icon;

    &::before { content: "#{font-awesome-variables.$fa-var-puzzle-piece}"; }
  }

  .info {
    @extend %admin-icon;

    &::before { content: "#{font-awesome-variables.$fa-var-info-circle}"; }
  }

  .ldap-authentication,
  .server_authentication {
    @extend %admin-icon;

    &::before { content: "#{font-awesome-variables.$fa-var-key}"; }
  }
}


/* Drag-and-drop sorting */

.sort-handle {
  @extend %fa-icon;

  text-align: center;
  cursor: move;

  &::before {
    content: "#{font-awesome-variables.$fa-var-arrows-v}";
  }

  &.ajax-loading {
    &::before {
      content: "#{font-awesome-variables.$fa-var-refresh}";
      animation: spin 1s linear infinite;
      color: variables.$gray-700;
    }
  }
}


/* Headers with icons */

h3.icon,
h3.version,
h3.comments,
div.issues h3,
div.members h3,
div.news h3,
div.projects h3 {
  @extend %fa-icon;

  color: variables.$gray-900;

  &::before {
    width: variables.$icon-width;
    margin-right: variables.$padding-small-vertical;
    transform: translateY(-.1em);
    color: variables.$gray-700;
    text-align: center;
  }
}

h3.version::before      { content: "#{font-awesome-variables.$fa-var-cube}"; }
h3.comments::before     { content: "#{font-awesome-variables.$fa-var-comments}"; }
div.issues h3::before   { content: "#{font-awesome-variables.$fa-var-ticket}"; }
div.members h3::before  { content: "#{font-awesome-variables.$fa-var-users}"; }
div.news h3::before     { content: "#{font-awesome-variables.$fa-var-newspaper}"; }
div.projects h3::before { content: "#{font-awesome-variables.$fa-var-cubes}"; }


/* Activity types icons */

dt {
  &.issue,
  &.issue-edit,
  &.issue.closed,
  &.issue-closed,
  &.issue-note,
  &.changeset,
  &.news,
  &.message,
  &.reply,
  &.wiki-page,
  &.attachment,
  &.document,
  &.project,
  &.time-entry {
    @extend %fa-icon;

    &::before {
      margin-left: -(variables.$padding-side);
      float: left;
      line-height: variables.$line-height-computed;
    }
  }

  &.issue::before        { content: "#{font-awesome-variables.$fa-var-ticket}"; }
  &.issue-edit::before   { content: "#{font-awesome-variables.$fa-var-edit}"; }
  &.issue.closed::before { content: "#{font-awesome-variables.$fa-var-ticket}"; }
  &.issue-closed::before { content: "#{font-awesome-variables.$fa-var-ticket}"; }
  &.issue-note::before   { content: "#{font-awesome-variables.$fa-var-comment}"; }
  &.changeset::before    { content: "#{font-awesome-variables.$fa-var-upload}"; }
  &.news::before         { content: "#{font-awesome-variables.$fa-var-newspaper}"; }
  &.message::before      { content: "#{font-awesome-variables.$fa-var-comment}"; }
  &.reply::before        { content: "#{font-awesome-variables.$fa-var-comment}"; }
  &.wiki-page::before    { content: "#{font-awesome-variables.$fa-var-file-text}"; }
  &.attachment::before   { content: "#{font-awesome-variables.$fa-var-paperclip}"; }
  &.document::before     { content: "#{font-awesome-variables.$fa-var-file-text}"; }
  &.project::before      { content: "#{font-awesome-variables.$fa-var-cube}"; }
  &.time-entry::before   { content: "#{font-awesome-variables.$fa-var-clock}"; }
}


/* Alternative icons */

.search_for_watchers > a {
  @extend %fa-icon;
  @include link-variant.icon-variant(success);

  &::before {
    content: "#{font-awesome-variables.$fa-var-plus}";
  }

  img {
    display: none;
  }
}

.atom {
  @extend %fa-icon;

  &::before {
    content: "#{font-awesome-variables.$fa-var-rss-square}";
  }
}

.issues .buttons a,
#related-issues li > a {
  &[data-method="delete"] {
    @extend %fa-icon;

    &::before {
      content: "#{font-awesome-variables.$fa-var-chain-broken}";
    }

    img {
      display: none;
    }
  }
}

#main a.close-icon {
  @extend %fa-icon;
  @include link-variant.link-variant(danger);

  width: auto;
  height: auto;
  background: transparent;

  &::before {
    content: "#{font-awesome-variables.$fa-var-remove}";
  }
}

a.project {
  $svg-star: font-awesome-variables.$fa-var-star;
  $svg-tag: font-awesome-variables.$fa-var-tag;

  &.icon {
    @extend %fa-icon-after;

    padding-left: 0;

    &::before {
      content: "";
      display: none;
      margin: 0;
    }
  }

  &.my-project,
  &.icon-user,
  &.icon-bookmarked-project {
    &::after {
      content: "#{$svg-star}";
      color: variables.$orange;
    }
  }

  &.icon-bookmarked-project {
    &::after {
      content: "#{$svg-tag}";
      color: variables.$blue;
    }
  }

  &.icon-user.icon-bookmarked-project {
    @extend %fa-icon;

    position: relative;

    &::before {
      content: "#{$svg-tag}";
      position: absolute;
      top: 9px;
      right: 0;
      margin: 0 -20px 0 0;
      color: variables.$blue;
    }

    &::after {
      content: "#{$svg-star}";
      color: variables.$orange;
    }
  }
}

span.my-project {
  @extend %fa-icon;

  &::before {
    content: "#{font-awesome-variables.$fa-var-star}";
    width: variables.$icon-width;
    margin-right: 0;
    color: variables.$orange;
    text-align: center;
  }
}

.sort {
  @extend %fa-icon-after;

  padding-left: 0;

  &::before {
    content: none;
  }

  &::after {
    margin-left: .2em;
  }

  &.asc,
  &.desc {
    background-image: none;
  }

  &.asc::after {
    content: "#{font-awesome-variables.$fa-var-sort-amount-asc}";
  }

  &.desc::after {
    content: "#{font-awesome-variables.$fa-var-sort-amount-desc}";
  }

  .sort-by-id &,
  .sort-by-done-ratio &,
  .sort-by-estimated-hours &,
  .sort-by-spent-hours & {
    &.asc::after  { content: "#{font-awesome-variables.$fa-var-sort-numeric-asc}"; }
    &.desc::after { content: "#{font-awesome-variables.$fa-var-sort-numeric-desc}"; }
  }

  .sort-by-assigned-to &,
  .sort-by-subject & {
    &.asc::after  { content: "#{font-awesome-variables.$fa-var-sort-alpha-asc}"; }
    &.desc::after { content: "#{font-awesome-variables.$fa-var-sort-alpha-desc}"; }
  }
}

a.remove-upload {
  @extend %fa-icon;
  @include link-variant.link-variant(danger);

  opacity: variables.$icon-opacity;
  text-align: center;

  &:hover,
  &:focus {
    opacity: variables.$icon-hover-opacity;
    text-decoration: none;
  }

  &::before {
    content: "#{font-awesome-variables.$fa-var-trash}";
  }
}

em.info.error {
  @extend %fa-icon;

  &::before {
    content: "#{font-awesome-variables.$fa-var-exclamation-circle}";
  }
}

.message {
  .contextual {
    a {
      @extend %fa-icon;

      opacity: .7;

      &:hover,
      &:focus {
        opacity: 1;
      }

      img {
        display: none;
      }
    }
  }

  > .contextual {
    a {
      &:nth-child(1) {
        &::before {
          content: "#{font-awesome-variables.$fa-var-comment}";
        }
      }

      &:nth-child(2) {
        &::before {
          content: "#{font-awesome-variables.$fa-var-pencil}";
        }
      }

      &:nth-child(3) {
        &::before {
          content: "#{font-awesome-variables.$fa-var-trash}";
        }
      }
    }
  }
}

tr.message {
  &.locked td.subject,
  &.sticky td.subject {
    @extend %fa-icon;
  }

  &.locked {
    color: variables.$gray-700;

    td.subject {
      &::before {
        content: "#{font-awesome-variables.$fa-var-lock}";
      }
    }
  }

  &.sticky td.subject {
    font-weight: variables.$font-weight-bold;

    &::before {
      content: "#{font-awesome-variables.$fa-var-bookmark}";
    }
  }
}

tr.version.shared td.name {
  @extend %fa-icon;

  &::before {
    content: "#{font-awesome-variables.$fa-var-link}";
  }
}

table.boards {
  a.board {
    @extend %fa-icon;

    &::before {
      content: "#{font-awesome-variables.$fa-var-comments}";
    }
  }
}

table.members {
  td.group,
  td.groupnonmember,
  td.groupanonymous {
    @extend %fa-icon;

    &::before {
      content: "#{font-awesome-variables.$fa-var-people-group}";
    }
  }
}

div.wiki {
  .external {
    @extend %fa-icon;

    &::before {
      content: "#{font-awesome-variables.$fa-var-external-link}";
      display: inline;
      margin-right: 3px;
      font-size: 10px;
    }
  }
}

.contextual [href*="edit"] {
  @extend %fa-icon;

  &::before {
    content: "#{font-awesome-variables.$fa-var-pencil}";
  }

  img {
    display: none;
  }
}

#attach_files_link {
  @extend %fa-icon;

  &::before {
    content: "#{font-awesome-variables.$fa-var-plus}";
    margin-right: .3em;
  }
}

.other-formats {
  %other-format {
    @extend %fa-icon;

    background-image: none;

    &::before {
      margin-right: .3em;
    }
  }

  .pdf {
    @extend %other-format;

    &::before {
      content: "#{font-awesome-variables.$fa-var-file-pdf}";
    }
  }

  .html {
    @extend %other-format;

    &::before {
      content: "#{font-awesome-variables.$fa-var-file-code}";
    }
  }

  .txt {
    @extend %other-format;

    &::before {
      content: "#{font-awesome-variables.$fa-var-file-text}";
    }
  }

  .csv {
    @extend %other-format;

    &::before {
      content: "#{font-awesome-variables.$fa-var-file-excel}";
    }
  }

  .png {
    @extend %other-format;

    &::before {
      content: "#{font-awesome-variables.$fa-var-file-image}";
    }
  }
}


/* Hacks and overrides for Font Awesome */

/* Attachments and watchers delete icon */

.attachments,
.watchers {
  a.delete {
    @extend %fa-icon;
    @include link-variant.icon-variant(danger);

    &::before {
      content: "#{font-awesome-variables.$fa-var-trash}";
    }

    img {
      display: none;
    }
  }
}


/* Issue edit form icon */

#all_attributes label[for="issue_description"] + a {
  @extend %fa-icon;

  &::before {
    content: "#{font-awesome-variables.$fa-var-pencil}";
  }

  .icon {
    padding-left: 0;

    &::before {
      content: "";
      margin: 0;
    }
  }

  img {
    display: none;
  }
}


/* Issue journal contextual icons */

.journal .wiki .contextual {
  > a {
    @extend %fa-icon;

    &::before {
      width: variables.$icon-width;
      margin-right: 0;
      text-align: center;
    }

    &:not([class*="icon"]) {
      &::before {
        content: "#{font-awesome-variables.$fa-var-comment}";
      }

      &:nth-child(2) {
        &::before {
          content: "#{font-awesome-variables.$fa-var-pencil}";
        }
      }

      &:nth-child(3) {
        &::before {
          content: "#{font-awesome-variables.$fa-var-trash}";
        }
      }
    }

    img {
      display: none;
    }
  }
}


/* Category and target vesion add icon */

#issue_category_id + a,
#issue_fixed_version_id + a {
  @extend %fa-icon;
  @include link-variant.icon-variant(success);

  &::before {
    content: "#{font-awesome-variables.$fa-var-plus-square}";
  }

  img {
    display: none;
  }
}


/* Lists toggle checkbox icon */

table.list th.checkbox > a {
  @extend %fa-icon;
  @include link-variant.icon-variant(success);

  &::before {
    content: "#{font-awesome-variables.$fa-var-check}";
    margin-right: 0;
  }

  img {
    display: none;
  }
}


/* Time entries list icons */

.time-entry .buttons > a {
  @extend %fa-icon;

  &[href*="edit"]::before {
    content: "#{font-awesome-variables.$fa-var-pencil}";
  }

  &[data-method="delete"]::before {
    content: "#{font-awesome-variables.$fa-var-trash}";
  }

  img {
    display: none;
  }
}


/* Files list */

.file .buttons > a {
  @extend %fa-icon;

  &[data-method="delete"] {
    @include link-variant.icon-variant(danger);

    &::before {
      content: "#{font-awesome-variables.$fa-var-trash}";
    }
  }

  img {
    display: none;
  }
}


/* Commit keywords */

.delete-commit-keywords {
  @extend %fa-icon;
  @include link-variant.icon-variant(danger);

  font-size: variables.$font-size-base;

  &::before {
    content: "#{font-awesome-variables.$fa-var-trash}";
  }

  img {
    display: none;
  }
}

.add-commit-keywords {
  @extend %fa-icon;
  @include link-variant.icon-variant(success);

  font-size: variables.$font-size-base;

  &::before {
    content: "#{font-awesome-variables.$fa-var-plus-square}";
  }

  img {
    display: none;
  }
}
