@use "sass:color";
@use "../variables";
@use "../vendor/font-awesome/variables" as fa-variables;
@use "../vendor/bootstrap/mixins/clearfix";
@use "../components/icons";

// WYSIWYG icons

#content {
  div.jstTabs.tabs {
    height: auto;

    @if variables.$flexbox-layout {
      @media screen and (max-width: variables.$redmine-responsive-max) {
        clear: both;
      }
    }

    > ul {
      width: 100%;
      height: auto;

      > li {
        height: auto;
        margin: 0;

        > a {
          &:hover,
          &:focus {
            border-color: color.adjust(variables.$tab-hover-border, $lightness: -3%) color.adjust(variables.$tab-hover-border, $lightness: -3%) variables.$tab-border;
            background-color: color.adjust(variables.$tab-hover-bg, $lightness: -3%);
          }

          &.selected {
            border-color: variables.$tab-active-border variables.$tab-active-border variables.$tab-active-bg;
            background: variables.$tab-active-bg;
            color: variables.$tab-active-text;

            &.tab-preview {
              border-bottom-color: variables.$wiki-preview-bg;
              background-color: variables.$wiki-preview-bg;
            }
          }
        }

        @if variables.$flexbox-layout {
          align-self: flex-end;
        }

        &::before {
          content: none;
        }

        &.tab-elements {
          flex: 1;
          margin-left: 5px;
        }
      }
    }

    .jstElements {
      height: auto;
    }
  }

  .jstEditor {
    .wiki-preview {
      padding: variables.$panel-body-padding;
      border: 1px solid variables.$input-border;
      border-radius: variables.$input-border-radius;
      background-color: variables.$wiki-preview-bg;

      p {
        padding: 0;
      }
    }
  }
}

div.jstElements {
  @include clearfix.clearfix;

  line-height: normal;

  .box & {
    display: block;
    padding: 0;

    .jstSpacer {
      margin-right: 4px;
    }

    @media (min-width: variables.$screen-md) {
      .jstb_help {
        margin-right: 0;
        margin-left: -6px;
        float: right;
      }
    }
  }

  button {
    margin-right: 2px;
    margin-bottom: 4px;
    padding: 0;
    border: 0;
    opacity: 1;
    background-color: transparent;
    box-shadow: none;
    color: variables.$gray-800;
    vertical-align: top;

    &::before {
      text-align: center;
    }

    &:hover,
    &:focus {
      background-color: color.adjust(variables.$tab-hover-bg, $lightness: -3%);
      color: variables.$gray-900;
    }
  }

  %jstb-icon {
    background: transparent;
    background-image: none;

    &::before {
      @extend %fa-icon;

      content: "";
    }
  }

  .jstb_strong {
    @extend %jstb-icon;

    &::before { content: "#{fa-variables.$fa-var-bold}"; }
  }

  .jstb_em {
    @extend %jstb-icon;

    &::before { content: "#{fa-variables.$fa-var-italic}"; }
  }

  .jstb_ins {
    @extend %jstb-icon;

    &::before { content: "#{fa-variables.$fa-var-underline}"; }
  }

  .jstb_del {
    @extend %jstb-icon;

    &::before { content: "#{fa-variables.$fa-var-strikethrough}"; }
  }

  .jstb_code {
    @extend %jstb-icon;

    &::before { content: "#{fa-variables.$fa-var-code}"; }
  }

  .jstb_h1 {
    @extend %jstb-icon;

    &::before { content: "#{fa-variables.$fa-var-header}"; }
  }

  .jstb_h2 {
    @extend %jstb-icon;

    &::before { content: "#{fa-variables.$fa-var-header}"; font-size: .7857em; }
  }

  .jstb_h3 {
    @extend %jstb-icon;

    &::before { content: "#{fa-variables.$fa-var-header}"; font-size: .6429em; }
  }

  .jstb_ul {
    @extend %jstb-icon;

    &::before { content: "#{fa-variables.$fa-var-list-ul}"; }
  }

  .jstb_ol {
    @extend %jstb-icon;

    &::before { content: "#{fa-variables.$fa-var-list-ol}"; }
  }

  .jstb_bq {
    @extend %jstb-icon;

    &::before { content: "#{fa-variables.$fa-var-indent}"; }
  }

  .jstb_unbq {
    @extend %jstb-icon;

    &::before { content: "#{fa-variables.$fa-var-outdent}"; }
  }

  .jstb_pre {
    @extend %jstb-icon;

    &::before { content: "#{fa-variables.$fa-var-terminal}"; }
  }

  .jstb_link {
    @extend %jstb-icon;

    &::before { content: "#{fa-variables.$fa-var-link}"; }
  }

  .jstb_img {
    @extend %jstb-icon;

    &::before { content: "#{fa-variables.$fa-var-image}"; }
  }

  .jstb_cut {
    @extend %jstb-icon;

    &::before { content: "#{fa-variables.$fa-var-scissors}"; }
  }

  .jstb_precode {
    @extend %jstb-icon;

    color: variables.$brand-danger;

    &::before { content: "#{fa-variables.$fa-var-code}"; }
  }

  .jstb_table {
    @extend %jstb-icon;

    &::before { content: "#{fa-variables.$fa-var-table}"; }
  }

  button.jstb_help {
    @extend %jstb-icon;

    color: variables.$link-color;

    &:hover {
      color: variables.$link-hover-color;
    }

    &::before { content: "#{fa-variables.$fa-var-question-circle}"; }
  }
}

body {
  .table-generator {
    td {
      border-color: variables.$tab-border;
    }

    td.selected-cell,
    td:hover {
      background-color: variables.$brand-primary;
    }
  }
}
