@use "../variables";
@use "../mixins/forms";

// Login form

#login-form {
  box-sizing: border-box;
  margin: variables.$line-height-computed * 2 auto variables.$line-height-computed;

  label,
  input:not([type="checkbox"]) {
    width: 100%;
  }

  label {
    display: block;
    margin-bottom: variables.$padding-base-vertical;
    font-weight: variables.$font-weight-bold;
    line-height: inherit;

    &[for="autologin"] {
      @include forms.check;

      margin-bottom: variables.$line-height-computed;
    }

    > a {
      float: right;
      font-weight: variables.$font-weight-normal;
    }
  }

  input[type="text"],
  input[type="password"] {
    margin-bottom: variables.$panel-body-padding-vertical;
  }

  #login-submit {
    padding-top: variables.$padding-base-vertical;
    padding-bottom: variables.$padding-base-vertical;
  }

  table {
    margin: auto;
    table-layout: fixed;
  }

  td {
    padding: 0;

    &:first-child {
      width: variables.$login-form-label-width;
      padding-right: variables.$table-cell-padding;
      white-space: nowrap;
    }

    > label {
      margin-bottom: variables.$panel-body-padding-vertical;
    }

    > input[type="submit"] {
      width: auto;
      margin-right: 0;
    }
  }

  @media screen and (min-width: variables.$login-form-box-breakpoint) {
    width: variables.$login-form-width;
    padding: variables.$padding-side;
    border: 1px solid variables.$panel-border;
    border-radius: variables.$border-radius-base;
    background-color: variables.$panel-bg;
    box-shadow: variables.$panel-shadow;
    color: variables.$panel-color;

    table {
      width: 100%;
    }
  }

  @each $adjustment, $languages in variables.$login-form-adjustments-map {
    @each $language in $languages {
      html[lang="#{$language}"] & td:first-child {
        width: variables.$login-form-label-width + $adjustment * 1em;
      }
    }
  }
}

#openid_url {
  padding-right: variables.$input-padding-horizontal + 24px;
  background-image: url("../../../images/openid-bg.gif");
  background-repeat: no-repeat;
  background-position: right variables.$input-padding-horizontal center;
}


// Two-factor authentication

.controller-twofa {
  .splitcontentleft {
    width: auto;
    padding-right: 0;
  }
}

ul.twofa_backup_codes {
  margin-left: 0;
  padding: 0;
  list-style-type: none;
}
