@use "sass:math";
@use "../variables";
@use "../vendor/font-awesome/variables" as fa-variables;
@use "../mixins/variants";
@use "../components/icons";

// Additionals
// https://www.redmine.org/plugins/additionals

#sidebar .dashboards .dashboard-system-default {
  position: absolute;
  transform: translateY(-175%);
  @if variables.$sidebar-position == "right" {
    right: 15px;
  }
}

.flyout-menu .dashboard-system-default {
  position: absolute;
  right: 10px;
  transform: translateY(-190%);
}

#sidebar .sidebar-additionals {
  ul,
  ol {
    margin: 0 0 (variables.$line-height-computed * .5);
    padding-left: 1.5em;

    ul,
    ol {
      margin-bottom: 0;
    }
  }

  ul {
    // stylelint-disable selector-max-compound-selectors
    li {
      list-style-type: disc;

      li {
        list-style-type: circle;

        li {
          list-style-type: square;
        }
      }
    }
  }
}

.action-login .login-additionals {
  font-size: 1em;

  @media screen and (min-width: variables.$login-form-box-breakpoint) {
    max-width: variables.$login-form-width;
  }
}


// Redmine Banner
// https://github.com/akiko-pusu/redmine_banner

#global_banner {
  .box {
    margin-bottom: variables.$line-height-computed;
  }
}

.banner_area {
  @media screen and (max-width: variables.$redmine-responsive-max) {
    #main #content > & {
      margin-bottom: variables.$line-height-computed;
    }
  }

  .banner {
    @extend %fa-icon;

    margin: 0;
    padding: variables.$padding-large-vertical variables.$padding-large-horizontal;
    padding-left: variables.$padding-large-horizontal + 8px + 16px;
    border: 1px solid variables.$component-border;
    border-radius: variables.$border-radius-base;
    background: variables.$component-bg;
    color: variables.$component-color;

    @media screen and (min-width: variables.$redmine-responsive-min) {
      border-radius: 0;
    }

    &::before {
      @include variants.fa-custom-icon(fa-variables.$fa-var-info);

      margin-left: -(8px + 16px);
      float: left;
      line-height: variables.$line-height-computed;
    }

    &_info {
      border-color: variables.$flash-info-border;
      background-color: variables.$flash-info-bg;
      color: variables.$flash-info-text;

      &::before {
        @include variants.fa-custom-icon(fa-variables.$fa-var-info-circle);
      }
    }

    &_warn {
      border-color: variables.$flash-warning-border;
      background-color: variables.$flash-warning-bg;
      color: variables.$flash-warning-text;

      &::before {
        @include variants.fa-custom-icon(fa-variables.$fa-var-warning);
      }

      a,
      ~ div a {
        color: variables.$flash-warning-link;
      }
    }

    &_alert {
      border-color: variables.$flash-error-border;
      background-color: variables.$flash-error-bg;
      color: variables.$flash-error-text;

      &::before {
        @include variants.fa-custom-icon(fa-variables.$fa-var-exclamation-circle);
      }

      a,
      ~ div a {
        color: variables.$flash-error-link;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol {
      margin-bottom: variables.$line-height-computed * .5;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      text-decoration: underline;
    }
  }

  .banner_edit {
    a {
      margin-left: 5px;
    }
  }
}


// Redmine Hearts
// https://github.com/cat-in-136/redmine_hearts

.journal > div + .contextual {
  padding-top: 0;
  padding-bottom: 0;
  border: 0;

  > .heart-link-with-count {
    display: block;
    position: relative;
    margin: -(variables.$line-height-computed * .5 + 1px) (variables.$bubble-padding-horizontal - variables.$padding-small-vertical) 0;
    float: right;
    border: 0;
    background-color: variables.$body-bg;
    text-align: right;
  }
}

.contextual {
  .icon-heart,
  .icon-heart-off {
    margin-left: variables.$padding-small-vertical;
    background-image: none;
  }

  .heart-link-with-count {
    margin-right: variables.$padding-small-vertical;
    margin-left: variables.$padding-small-vertical;

    > .heart-count-number {
      display: inline-block;
      min-width: 1em;
      margin: 0 0 0 3px;
      padding: 1px 4px;
      border-radius: variables.$border-radius-base;
      background-color: variables.$btn-default-bg;
      color: variables.$btn-default-color;
      text-align: center;

      &::before {
        content: "";
      }
    }
  }
}

#content > .contextual {
  > span.heart-link-with-count {
    padding: 0;
    border: 0;
    background: transparent;

    > a:first-child {
      margin-right: 0;
      margin-left: 4px;
      padding-right: math.floor(variables.$btn-padding-horizontal-small * .5);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      + a {
        min-width: unset;
        margin-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}


// Redmine dashboard
// https://github.com/jgraichen/redmine_dashboard

@if variables.$enable-sidebar-toggler {
  #main {
    // Fix full screen view
    @at-root .controller-rdb_taskboard & {
      position: static;
    }
  }
}

// Redmine Impersonate
// https://www.redmine.org/plugins/redmine_impersonate

#impersonate::before {
  content: "\f21b";
  display: inline-block;
  margin-right: 5px;
  font: normal normal normal 14px/1 FontAwesome;
}

#impersonation-bar {
  border-radius: 0;
}
