@use "sass:color";
@use "sass:map";
@use "sass:math";
@use "../lib/font-awesome/variables" as font-awesome-variables;
@use "../lib/font-awesome/mixins" as font-awesome-mixins;
@use "../variables";
@use "../functions/parse-length";
@use "../mixins/link-variant";
@use "../mixins/shadows";

/*
/* Additionals
/* https://www.redmine.org/plugins/additionals
/* -------------------------------------------------- */

#sidebar .sidebar-additionals {
  ul,
  ol {
    margin: 0 0 (variables.$line-height-computed * .5);
    padding-left: 1.5em;

    ul,
    ol {
      margin-bottom: 0;
    }
  }

  ul {
    /* stylelint-disable selector-max-compound-selectors */
    li {
      list-style-type: disc;

      li {
        list-style-type: circle;

        li {
          list-style-type: square;
        }
      }
    }
  }
}

.action-login .login-additionals {
  font-size: 1em;

  @media screen and (min-width: variables.$login-form-box-breakpoint) {
    max-width: variables.$login-form-width;
  }
}


/*
/* Redmine Banner
/* https://github.com/akiko-pusu/redmine_banner
/* -------------------------------------------------- */

#global_banner {
  .box {
    margin-bottom: variables.$line-height-computed;
  }
}

.banner_area {
  @media screen and (max-width: variables.$redmine-responsive-max) {
    #main #content > & {
      margin-bottom: variables.$line-height-computed;
    }
  }

  .banner {
    @include font-awesome-mixins.fa-icon;

    margin: 0;
    padding: variables.$padding-large-vertical variables.$padding-large-horizontal;
    padding-left: variables.$padding-large-horizontal + 8px + 16px;
    border: 1px solid variables.$component-border;
    border-radius: variables.$border-radius-base;
    background: variables.$component-bg;
    color: variables.$component-color;

    @media screen and (min-width: variables.$redmine-responsive-min) {
      border-radius: 0;
    }

    &::before {
      content: font-awesome-variables.$fa-var-info;
      margin-left: -(8px + 16px);
      float: left;
      line-height: variables.$line-height-computed;
    }

    &_info {
      border-color: variables.$flash-info-border;
      background-color: variables.$flash-info-bg;
      color: variables.$flash-info-text;

      &::before {
        content: font-awesome-variables.$fa-var-info-circle;
      }
    }

    &_warn {
      border-color: variables.$flash-warning-border;
      background-color: variables.$flash-warning-bg;
      color: variables.$flash-warning-text;

      &::before {
        content: font-awesome-variables.$fa-var-warning;
      }

      a,
      ~ div a {
        color: variables.$flash-warning-link;
      }
    }

    &_alert {
      border-color: variables.$flash-error-border;
      background-color: variables.$flash-error-bg;
      color: variables.$flash-error-text;

      &::before {
        content: font-awesome-variables.$fa-var-exclamation-circle;
      }

      a,
      ~ div a {
        color: variables.$flash-error-link;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol {
      margin-bottom: variables.$line-height-computed * .5;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      text-decoration: underline;
    }
  }

  .banner_edit {
    a {
      margin-left: 5px;
    }
  }
}


/*
/* Redmine Hearts
/* https://github.com/cat-in-136/redmine_hearts
/* -------------------------------------------------- */

.journal > div + .contextual {
  padding-top: 0;
  padding-bottom: 0;
  border: 0;

  > .heart-link-with-count {
    display: block;
    position: relative;
    margin: -(variables.$line-height-computed * .5 + 1px) (variables.$bubble-padding-horizontal - variables.$padding-small-vertical) 0;
    float: right;
    border: 0;
    background-color: variables.$body-bg;
    text-align: right;
  }
}

.contextual {
  .icon-heart,
  .icon-heart-off {
    margin-left: variables.$padding-small-vertical;
    background-image: none;
  }

  .heart-link-with-count {
    margin-right: variables.$padding-small-vertical;
    margin-left: variables.$padding-small-vertical;

    > .heart-count-number {
      display: inline-block;
      min-width: 1em;
      margin: 0 0 0 3px;
      padding: 1px 4px;
      border-radius: variables.$border-radius-base;
      background-color: variables.$btn-default-bg;
      color: variables.$btn-default-color;
      text-align: center;

      &::before {
        content: "";
      }
    }
  }
}

#content > .contextual {
  > span.heart-link-with-count {
    padding: 0;
    border: 0;
    background: transparent;

    > a:first-child {
      margin-right: 0;
      margin-left: 4px;
      padding-right: math.floor(variables.$btn-padding-horizontal-small * .5);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      + a {
        min-width: unset;
        margin-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}


/*
/* Redmine Time Tracker
/* https://github.com/fernandokosh/redmine_time_tracker
/* -------------------------------------------------- */

.tt_list_button {
  @include font-awesome-mixins.fa-icon;
}

.icon,
.tt_list_button {
  &.icon-start,
  &.icon-stop {
    background-image: none;
  }

  &.icon-start {
    @include link-variant.link-variant(success);

    &::before {
      content: font-awesome-variables.$fa-var-clock;
    }
  }

  &.icon-stop {
    @include link-variant.link-variant(danger);

    &::before {
      content: font-awesome-variables.$fa-var-history;
    }
  }
}

.time-tracker-quick-menu:empty {
  display: none;
}

#user-time-bookings-list {
  clear: both;
}


/*
/* RedmineUP
/* https://www.redmineup.com/pages/plugins
/* -------------------------------------------------- */

h2 {
  .scope_title,
  .live_search,
  .tags {
    vertical-align: top;
  }

  .live_search {
    margin-left: variables.$padding-side * .5;
  }

  .tags {
    .tag_list {
      margin-top: 0;
    }
  }
}

div.details {
  &.contact,
  &.product {
    padding: 0;
    border: 0;
    background: transparent;
  }
}


/*
/* Redmine Agile
/* https://www.redmineup.com/pages/plugins/agile
/* -------------------------------------------------- */

html.agile-board-fullscreen .icon.icon-fullscreen {
  padding: (variables.$padding-small-vertical - 1px) variables.$padding-small-vertical;
  font-size: 0;
  text-align: center;
  text-indent: 0;

  @include shadows.nice-shadow(1);

  &::before {
    margin: 0;
  }
}

@if variables.$agile-board-customize {
  .agile-board {
    table.list.issues-board {
      tbody tr {
        background-color: variables.$body-bg;

        > td.issue-status-col {
          padding: 0;
          padding-left: parse-length.parse-length(variables.$agile-issue-card-margin, left);
          background-color: variables.$agile-board-background;

          &.closed .issue-card {
            background: variables.$agile-issue-card-closed-background;
          }
        }
      }
    }

    .issue-card {
      margin: variables.$agile-issue-card-margin;
      margin-left: 0;
      padding: variables.$agile-issue-card-padding;
      border: 1px solid variables.$agile-issue-card-border;
      border-width: variables.$agile-issue-card-border-width;
      border-radius: variables.$agile-issue-card-border-radius;
      background-color: variables.$agile-issue-card-background;
      color: variables.$agile-issue-card-color;

      @include shadows.nice-shadow(1);

      &.ui-sortable-helper {
        @include shadows.nice-shadow(4);
      }

      &:not(.context-menu-selection) {
        .attributes,
        em.info,
        span.hours {
          color: variables.$text-color;
        }
      }

      @each $class, $color in variables.$agile-issue-card-color-map {
        &.#{$class} {
          border-color: map.get($color, border);
          background-color: map.get($color, background);
        }
      }

      .checklist,
      .info,
      .sub-issues {
        border-color: color.adjust(variables.$black, $alpha: .15);
      }

      p.issue-id,
      p.name {
        margin-bottom: 5px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      p.issue-id {
        line-height: 1;
      }

      p.project {
        border-radius: variables.$agile-issue-card-border-radius - 1px;
        border-color: color.adjust(variables.$black, $alpha: .15);
        background-clip: padding-box;
      }

      p.name {
        font-weight: variables.$font-weight-bold;
      }
    }
  }

  @each $class, $color in variables.$agile-issue-card-color-map {
    @if map.get($color, link) != variables.$link-color {
      .#{$class} {
        a {
          color: map.get($color, link);
        }
      }
    }
  }
}

.agile-board {
  .quick-comment {
    textarea {
      margin-bottom: parse-length.parse-length(variables.$agile-issue-card-padding, bottom);
    }
  }
}


.controller-agile_charts #main {
  @if variables.$css-grid-layout {
    > div:not(#content, #sidebar) {
      grid-area: footer;
    }
  } @else if variables.$flexbox-layout {
    flex-wrap: wrap;

    > #footer {
      flex: 1 0 auto;
      order: 3;
    }
  }

  /* Page layout on Agile charts is broken, and with "Go to top" link
  /* from https://github.com/alphanodes/additionals plugin enabled
  /* the chart expands and resize event is triggered indefinitely.
  /* Hiding the "Go to top" link fixes this issue. */
  .gototop {
    display: none;
  }
}


/*
/* Redmine CRM
/* https://www.redmineup.com/pages/plugins/crm
/* -------------------------------------------------- */

table.sidebar.attributes {
  tr {
    th,
    td {
      padding: parse-length.parse-length(variables.$table-condensed-cell-padding, top) 0;
      vertical-align: top;
    }

    th {
      padding-right: parse-length.parse-length(variables.$table-condensed-cell-padding, right);
    }
  }
}

div.add-note {
  input,
  textarea {
    margin-bottom: variables.$line-height-computed;
  }
}

@if variables.$table-list-highlight-rows {
  table.contacts.index {
    > tbody > tr:nth-child(n):hover {
      background-color: variables.$table-bg-hover;
    }
  }
}


/*
/* Redmine Tags
/* https://www.redmineup.com/pages/plugins/tags
/* -------------------------------------------------- */

.select2 {
  .filter .values & {
    min-width: 180px;
    margin: 0;
  }

  &-container.select2-container--default {
    color: variables.$text-color;

    .select2-selection--single,
    .select2-selection--multiple {
      min-height: variables.$input-height-base;
      line-height: variables.$line-height-base;
    }

    .select2-selection--single {
      height: variables.$input-height-base;

      .select2-selection__rendered {
        padding-top: variables.$input-padding-vertical;
        padding-bottom: variables.$input-padding-vertical;
        border: 0;
        font-size: variables.$font-size-base;
        line-height: variables.$line-height-base;
      }

      .select2-selection__arrow {
        height: variables.$input-height-base;
      }

      .select2-selection__clear {
        border: 0;
      }
    }

    .select2-selection--multiple {
      .select2-selection__rendered {
        padding: 0 3px 3px;
      }

      .select2-selection__choice {
        margin-top: 3px;
        margin-right: 3px;
        padding-top: 0;
        padding-bottom: 0;
      }

      .select2-search--inline {
        input {
          height: auto;
          padding-top: 0;
          padding-bottom: 0;
          line-height: inherit;
        }
      }
    }

    .select2-selection {
      transition:
        border-color variables.$transition-time ease-in-out,
        box-shadow variables.$transition-time ease-in-out;
      border-color: variables.$input-border;
      background-clip: padding-box;
      box-shadow: inset 0 1px 2px rgb(0 0 0 / .075);

      &.icon {
        padding-left: 18px + 8px;

        &::before {
          position: absolute;
          top: 50%;
          left: 8px;
          margin: (variables.$font-size-base * -.5) 0 0;
        }
      }
    }

    &.select2-container {
      &:focus,
      * {
        outline: none;
      }

      &--open,
      &--focus {
        .select2-selection {
          border-color: color.adjust(variables.$input-border-focus, $alpha: variables.$input-border-focus-alpha);
          box-shadow: inset 0 1px 2px rgb(0 0 0 / .075), 0 0 0 2px color.adjust(variables.$input-border-focus, $alpha: variables.$input-shadow-focus-alpha);
        }
      }
    }

    .select2-search__field {
      &:focus {
        border-color: color.adjust(variables.$input-border-focus, $alpha: variables.$input-border-focus-alpha);
      }
    }
  }
}

span.tag-label-color {
  @at-root body & {
    padding: 0 !important; /* stylelint-disable-line declaration-no-important */
    border: 0 !important; /* stylelint-disable-line declaration-no-important */
    border-radius: variables.$badge-border-radius;
    box-shadow: inset 0 -1px 0 color.adjust(variables.$black, $alpha: .12);
    font-size: variables.$font-size-small-px;

    a,
    span {
      font-family: inherit;
      font-size: inherit;
    }

    > a,
    > span {
      display: inline-block;
      padding: 1px 5px;
      text-shadow: 0 1px 0 color.adjust(variables.$black, $alpha: .2);
    }

    a {
      &:hover {
        opacity: .8;
      }
    }
  }
}

.list td.tags {
  padding-bottom: max(parse-length.parse-length(variables.$table-cell-padding, bottom) - 2px - 1px, 0);

  span.tag-label-color {
    margin-bottom: 2px;
    margin-left: 0;
    transform: translateY(-1px);
  }
}


/*
/* Redmine Checklists
/* https://www.redmineup.com/pages/plugins/checklists
/* -------------------------------------------------- */

.checklist {
  li {
    a {
      margin: 0;
      line-height: inherit;
    }
  }
}

#checklist_form_items {
  .checklist-item {
    display: block;
    margin: 0 0 2px;

    &.new {
      margin: variables.$padding-base-vertical 0 0;
    }

    input[type="checkbox"] {
      position: relative;
      top: 2px;
      vertical-align: baseline;
    }

    input[type="button"] {
      margin-right: 4px;
    }
  }
}

#checklist-menu.ui-menu {
  a {
    padding: 2px 0 2px 24px;
  }
}


/*
/* Redmine custom menu
/* http://rmplus.pro/en/redmine/plugins/custom_menu
/* -------------------------------------------------- */

#top-menu {
  .cm-menu-header {
    > li {
      margin: 0;

      > a,
      > .title {
        line-height: variables.$input-height-base;
      }

      > .cm-menu-divider {
        height: 18px;
        margin: 5px 4px 0 5px;
        border-top: 0;
        border-left: 1px solid;
        opacity: .3;
      }
    }

    .drdn-trigger {
      font-size: variables.$font-size-base;
    }
  }

  .dropdown {
    .dropdown-menu > li a:hover,
    .dropdown-menu > li a:focus,
    .dropdown-submenu:hover a,
    .dropdown-submenu:focus a {
      background-color: variables.$brand-primary;
      color: variables.$brand-text;
    }
  }

  .rm-icon {
    &::before {
      font-size: variables.$font-size-base;
    }
  }

  #quick-search {
    margin: 0;

    form > input {
      width: variables.$quick-search-width * .5;
      min-width: variables.$quick-search-width * .5;
    }

    a {
      line-height: inherit;
    }
  }
}


/*
/* Redmine codebutton
/* https://github.com/mediatainment/redmine_codebutton
/* -------------------------------------------------- */

#toolbar-code-options {
  select {
    width: 100%;
  }

  .buttons {
    white-space: nowrap;
  }
}


/*
/* Redmine Stuff To Do
/* https://github.com/raafael911/stuff_to_do_plugin
/* -------------------------------------------------- */

#stuff-to-do {
  p {
    @if variables.$sidebar-position == "left" {
      margin-right: -(variables.$sidebar-padding-horizontal);
    } @else {
      margin-left: -(variables.$sidebar-padding-horizontal);
    }

    > a {
      display: block;
      padding: variables.$sidebar-padding-vertical variables.$sidebar-padding-horizontal;

      @if variables.$sidebar-position == "left" {
        border-radius: variables.$border-radius-large 0 0 variables.$border-radius-large;
      } @else {
        border-radius: 0 variables.$border-radius-large variables.$border-radius-large 0;
      }

      &:hover {
        background-color: variables.$sidebar-link-hover-bg;
        text-decoration: none;
      }
    }

    > br {
      display: none;
    }
  }
}

/* Note: the following applies to the latest version
/* of Stuff To Do plugin from the master branch. */

.controller-stuff_to_do {
  .menu {
    label,
    select {
      margin-bottom: 5px;
    }
  }

  .stuff-to-do-item {
    padding: variables.$table-cell-padding;
    border: 1px solid variables.$table-border-color;
    border-width: variables.$table-list-item-border;
    background-color: variables.$body-bg;
  }

  .pane {
    ol {
      padding: 0;
    }

    .issue-details {
      width: 80%;
      margin: 0;

      a {
        img {
          display: none;
        }
      }
    }

    .progress {
      width: 20%;
      margin: 0;
    }

    .estimate {
      top: variables.$table-cell-padding - 1px;
      right: variables.$table-cell-padding;
      left: auto;
      width: 20%;
      font-size: variables.$font-size-small;
      text-align: right;
    }
  }
}


/*
/* Redmine WikiNG
/* https://github.com/martin-denizet/wiking
/* -------------------------------------------------- */

div.wiking {
  &.flash {
    &.warning,
    &.notice,
    &.tip {
      background-image: none;
    }

    &.tip {
      &::before {
        content: font-awesome-variables.$fa-var-lightbulb;
      }
    }
  }
}
