@use "sass:color";
@use "../variables";
@use "../mixins/forms";

/*
/* Activity and search results list
/* -------------------------------------------------- */

#activity dl,
#search-results {
  margin-left: variables.$padding-side;
}

#activity,
#search-results {
  dd {
    margin-bottom: variables.$line-height-computed;
    padding-top: .1em;
  }

  dt {
    padding-left: variables.$padding-side;
    background-repeat: no-repeat;
    background-position: 0 center;
  }

  span.project::after {
    content: " -";
  }

  span.description {
    display: block;
    color: variables.$gray-700;
    font-style: italic;
  }
}

#activity {
  $activity-avatar: 24px;
  $activity-avatar-space: 5px;
  $activity-indent: 20px;

  @if variables.$use-gravatars {
    $activity-indent: $activity-indent + $activity-avatar + $activity-avatar-space;
  }

  h3,
  h4 {
    margin: 0 0 variables.$line-height-computed;
    padding-bottom: .2em;
    border-bottom: 1px dotted variables.$gray-600;
    font-size: variables.$font-size-h4;
    font-weight: variables.$font-weight-normal;
  }

  dt {
    &.grouped {
      margin-left: $activity-indent;
    }

    &.me .time {
      border-bottom: 1px solid variables.$gray-400;
    }

    .time {
      color: variables.$gray-700;
    }

    @if variables.$use-gravatars {
      .gravatar {
        top: 0;
        margin-top: -2px;
        margin-right: $activity-avatar-space;
        float: left;
      }
    }
  }

  dd {
    overflow: hidden;
    font-size: variables.$font-size-small;

    &.grouped {
      margin-left: $activity-indent;
    }
  }
}

#search-results-counts {
  float: right;

  ul {
    @extend %clearfix;
  }

  li {
    margin-left: 1em;
    float: left;
    list-style-type: none;
  }
}


/* Search form */

#search-form {
  margin-bottom: variables.$line-height-computed;

  input,
  select {
    margin-right: 5px;
    margin-bottom: variables.$line-height-computed * .5;
  }

  label {
    @include forms.check-inline;

    line-height: variables.$input-height-base;

    input[type="checkbox"],
    input[type="radio"] {
      margin-top: variables.$check-input-margin-btn-v;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}


/* Search results highlight */

.highlight {
  background-color: color.adjust(variables.shade(variables.$yellow, 100), $saturation: 25%);
  color: color.adjust(variables.shade(variables.$yellow, 800), $saturation: 25%);

  &.token-1 {
    background-color: color.adjust(variables.shade(variables.$red, 100), $saturation: 25%);
    color: color.adjust(variables.shade(variables.$red, 800), $saturation: 25%);
  }

  &.token-2 {
    background-color: color.adjust(variables.shade(variables.$green, 100), $saturation: 25%);
    color: color.adjust(variables.shade(variables.$green, 800), $saturation: 25%);
  }

  &.token-3 {
    background-color: color.adjust(variables.shade(variables.$blue, 100), $saturation: 25%);
    color: color.adjust(variables.shade(variables.$blue, 800), $saturation: 25%);
  }
}
