@use "sass:color";

/* Button sizes */
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  border-radius: $border-radius;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin button-variant($color, $bg, $border) {
  $correction: 1;

  @if color.hue($bg) > 120 and color.hue($bg) < 160 or color.lightness($bg) > 90 {
    $correction: .5;
  }

  $normal-shadow: color.adjust($border, $lightness: - (12% * $correction));
  $focus-bg: color.adjust($bg, $lightness: - (12% * $correction));
  $focus-border: color.adjust($border, $lightness: - (12% * $correction));
  $focus-shadow: color.adjust($focus-border, $lightness: - (12% * $correction));
  $active-bg: color.adjust($bg, $lightness: - (12% * $correction));
  $active-border: color.adjust($border, $lightness: - (15% * $correction));
  $active-shadow: inset 0 3px 4px -2px $active-border;

  @if color.lightness($bg) > 98 {
    $focus-bg: color.adjust($bg, $lightness: -5%);
    $focus-border: color.adjust($border, $lightness: -5%);
    $normal-shadow: none;
    $focus-shadow: none;
  }

  background-color: $bg;
  color: $color;

  @if $normal-shadow == "none" {
    border-color: $border;
    box-shadow: none;
  } @else {
    border-color: $border $border $normal-shadow;
    box-shadow: 0 1px 0 $normal-shadow;
  }

  &:hover,
  &:focus {
    background-color: $focus-bg;
    color: $color;

    @if $focus-shadow == "none" {
      border-color: $focus-border;
      box-shadow: none;
    } @else {
      border-color: $focus-border $focus-border $focus-shadow;
      box-shadow: 0 1px 0 $focus-shadow;
    }
  }

  &:active {
    transform: translate(0, 1px);
    border-color: $active-border;
    background-color: $active-bg;
    box-shadow: $active-shadow;
  }
}
